<div>
    <span id="login" onclick="loadLogin()">Login</span>
</div>
<script>
    function loadLogin()
    {
        $.get('@Url.Action("Login","Users")', function (data) {
            $('#partialView').html(data);
        });
    }
</script>